
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* poids de la police normal */
    font-style: normal; /* style de la police normal */
}

p{
    text-align: justify;
    line-height: 1.7;
}

li{
    line-height: 1.7;
}